*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(19, 19, 19);
}
.page-header{
    border-bottom: 1px solid white;

    height: 10dvh;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(238, 235, 235);
}
.header-logo{
    display: flex;
    align-items: center;
}
.header-image{
    height: 100px;
    padding: 4px;
}
